<ion-list class="list">
  <ion-item ng-repeat="game in vm.playedGames | orderBy: '-startTime'"
            class="item-text-wrap">
    <h3>
      <span ng-class="{ winner : game.team1Result==='WIN' }">
        {{ game.team1 }}
      </span>
      vs.
    </h3>
    <h3>
      <span ng-class="{ winner : game.team2Result==='WIN' }">
        {{ game.team2 }}
      </span>
    </h3>
    <p>
      <span  ng-if="game.team1Score && game.team2Score">
        Score {{ game.team1Score }} - {{ game.team2Score }} &nbsp; | &nbsp; Played on
      </span>
      {{ game.startTime | date : vm.dateFormat : vm.timeZone }}
    </p>
    <p ng-if="!game.team1Score && !game.team2Score"
       class="not-played">
      {{ game.state }}
    </p>
  </ion-item>
  <p ng-if="!vm.playedGames.length"
     class="no-games">
    No games have been played yet.
  </p>
</ion-list>
