<ion-view view-title="Home">
  <ion-content class="has-tabs">

    <!--Top Images slide box-->
    <ion-slide-box delegate-handle="home"
                   does-continue="true"
                   show-pager="false"
                   auto-play="true"
                   slide-interval="5000"
                   class="home-slide-box">
      <ion-slide ng-repeat="image in vm.imageSlides" dynamic-slides="vm.imageSlides">
        <img ng-src="{{ image }}" />
      </ion-slide>
    </ion-slide-box>

    <!--Latest announcement within the last month-->
    <div ng-if="vm.firstAnnouncement"
         class="card"
         ui-sref="nav.announcements">
      <div class="item item-divider">
        Latest Announcement
      </div>
      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{ vm.firstAnnouncement.userIconUrl }}">
        <p ng-bind-html="vm.firstAnnouncement.message"></p>
      </div>
    </div>

    <!--Upcoming programs-->
    <div ng-if="vm.upcomingPrograms"
         class="card">
      <div class="item item-divider">
        New leagues are open!
      </div>
      <div ng-repeat="program in vm.upcomingPrograms"
           class="item item-avatar item-text-wrap"
           ng-click="vm.openInBrowser(program.programUrlHtml)">
        <img ng-src="../img/{{ program.sport }}.jpg">
        <p>{{ program.name }}</p>
        <p>Register now!</p>
      </div>
    </div>
  </ion-content>
</ion-view>
