<ion-view view-title="Images">
  <ion-content class="has-tabs">
    <button ng-click="vm.addImage()"
               class="button icon ion-plus">
    </button>
    <div ng-repeat="image in vm.images"
         class="list card">
      <div class="item item-body">
        <img class="full-image"
             ng-src="{{ image.$value }}">
        <p>
          <span class="subdued">5 Likes</span>
          <span class="subdued">3 Comments</span>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <button class="tab-item button button-clear"
                ng-click="vm.like(image)">
          <i class="icon ion-thumbsup"></i>
          Like
        </button>
        <button class="tab-item button button-clear"
                ui-sref="nav.comment({id : image.id})">
          <i class="icon ion-chatbox"></i>
          Comment
        </button>
        <button class="tab-item button button-clear"
                ng-click="vm.flag(image)">
          <i class="icon ion-alert-circled"></i>
          Report
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
