.album-list {
  img {
    display: block;
    width: 100%;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}

.album-photo {
  display: inline-block;
  height: 100px;
  width: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.album-photo.selected {
  opacity: .5;
}
