<ion-view title="Programs">
  <div class="bar bar-subheader bar-energized">
    <h3 class="title">{{ vm.program.name }}</h3>
  </div>
  <ion-content class="has-tabs has-subheader">
    <div class="list">
      <a class="item"
         ui-sref="nav.schedule.upcoming({id : vm.program.programId })">
        Schedule
      </a>
      <a class="item"
         href="#"
         ng-click="vm.openInBrowser(vm.program.standingsUrlHtml)">
        View Standings
      </a>
      <a class="item"
         href="#"
         ng-click="vm.openInBrowser(vm.program.locationUrlHtml)">
        View Location
      </a>
      <a class="item"
         href="#"
         ng-click="vm.openInBrowser(vm.program.programUrlHtml)">
        View Home
      </a>
    </div>
  </ion-content>
</ion-view>
