<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu side="left" layout="column">
    <ion-content class="stable-bg">
      <ion-list>
        <ion-item ng-repeat="menuItem in vm.menuItems"
                  nav-clear
                  menu-close
                  ui-sref="{{ menuItem.state }}">
          {{ menuItem.name }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button menu-toggle="left"
                   class="button button-icon icon ion-navicon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
    <ion-tabs delegate-handle="main">
      <ion-tab ng-repeat="tabItem in vm.tabItems"
               title="{{ tabItem.name }}"
               ui-sref="{{ tabItem.state }}"
               ng-click="vm.selectTab($index)">
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>
</ion-side-menus>


