<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu side="left" layout="column">
    <ion-content class="stable-bg">
      <ion-list>
        <ion-item ng-repeat="menuItem in vm.menuItems"
                  nav-clear
                  menu-close
                  ui-sref="{{ menuItem.state }}">
          {{ menuItem.name }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button menu-toggle="left"
                   class="button button-icon icon ion-navicon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
    <div class="tabs">
      <a ng-repeat="tabItem in vm.tabItems"
         ui-sref="{{ tabItem.state }}" class="tab-item">
        {{ tabItem.name }}
      </a>
    </div>
  </ion-side-menu-content>
</ion-side-menus>


